<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger]"/>
  <param name="model" value="$(arg model)"/>
  <arg name="robot1"  default="tb3_1"/>
  <arg name="robot2" default="tb3_2"/>

  <!-- turtlebot3_teleop_key already has its own built in velocity smoother -->
  
  
   <group ns="$(arg robot1)">
    <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen">
    </node>
  </group>
  
  <group ns="$(arg robot2)">
    <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen">
    </node>
  </group>
  
</launch>
